.blue {
	background-color: #2069b4;
	color: white;
}
.blue:hover {
	background-color: #5081b3;
	color: white;
}
.center{
	text-align:center;
}


/* ---------- WIDTHS ---------- */
/* Form Inputs Style */
.default-width-input { width: 20.833em; /* Default Value. Equals 250px for the 12px font size */ }	

.full-width-input { width: 95%; }

/* Textarea Style */
.full-width-textarea {
	width: 95%;
	height: 12.5em; /* 150/12 */
}

/* Page Container Style */
.page-full-width { padding: 0 1.875em; /* 30/16 */ }

.page-limited {
	width: 60em; /* 960/16 */
	margin: 0 auto;
}


/* ---------- BUTTONS ---------- */
.button {
	padding: 0.633em; /* 10/12 */
	color:white;
	display: inline-block;
	text-decoration: none;
	background-repeat: no-repeat;
	font-size: 0.6em;
}
.round {
	border-radius: 0.2125em; /* 5/16 */
	-moz-border-radius: 0.3125em; /* 5/16 */
	-webkit-border-radius: 0.3125em; /* 5/16 */
}
.login-btn{
	width: 312px;
	text-align: center;
	font-weight: bold;
}
.text-blue{
	color:#47A0D8;
}
.text-red{
	color:#C33;
}
.text-grey{
	color:#ADADAD;
}
.text-black{
	color:#1d1e1e;
}
.black{
	background-color:#1d1e1e;
	color:white;
}
.blue{
	background-color: #47A0D8;
	color: white;
}
.blue:hover {
	background-color:#47A0D8;
	color: white;
}

.text-upper { text-transform: uppercase; }

.small-button { padding: 0.312em 1em; /* 5/16 16/16 */ }

.image-left {
	background-position: 0.833em center; /* 10/12 */
	padding-left: 3em; /* 36/12 */
}

.image-right {
	background-position: right center;
	padding-right: 3em; /* 36/12 */
}

.ic-left-arrow { background-image: url("../images/icons/ic_left.png"); }
.ic-right-arrow { background-image: url("../images/icons/ic_right.png"); }
.ic-print { background-image: url("../images/icons/ic_print.png"); }
.ic-cancel { background-image: url("../images/icons/ic_cancel.png"); }
.ic-delete { background-image: url("../images/icons/ic_delete.png"); }
.ic-add { background-image: url("../images/icons/ic_add.png"); }
.ic-download { background-image: url("../images/icons/ic_download.png"); }
.ic-edit { background-image: url("../images/icons/ic_edit.png"); }
.ic-favorite { background-image: url("../images/icons/ic_favorite.png"); }
.ic-lock { background-image: url("../images/icons/ic_lock.png"); }
.ic-power { background-image: url("../images/icons/ic_power.png"); }
.ic-refresh { background-image: url("../images/icons/ic_refresh.png"); }
.ic-settings { background-image: url("../images/icons/ic_settings.png"); }
.ic-upload { background-image: url("../images/icons/ic_upload.png"); }
.ic-search { background-image: url("../images/icons/ic_zoom.png"); }

.ic-table-edit { background-image: url("../images/icons/table/actions-edit.png"); }
.ic-table-delete { background-image: url("../images/icons/table/actions-delete.png"); }





/* ---------- MENU BUTTONS ---------- */
.menu-email { background-image: url("../images/icons/menu/menu-email.png"); }
.menu-email:hover { background-image: url("../images/icons/menu/menu-email-over.png"); }
.menu-email-special {
	background-image: url("../images/icons/menu/menu-email-special.png");
	color: #7fcdff;
}	
.menu-settings { background-image: url("../images/icons/menu/menu-settings.png"); }
.menu-settings:hover { background-image: url("../images/icons/menu/menu-settings-over.png"); }

.menu-logoff { background-image: url("../images/icons/menu/menu-logoff.png"); }
.menu-logoff:hover { background-image: url("../images/icons/menu/menu-logoff-over.png");}

.menu-user { background-image: url("../images/icons/menu/menu-user.png"); }





/* ---------- FORMS ---------- */
form label {
	display: block;
	text-transform: uppercase;
	color: #2a2e36;
	margin: 0 0 0.3125em 0;
}

form label.alt-label { text-transform: none; }

form input[type="text"], input[type="password"], textarea {
	border: 1px solid #EBECED;
	background-color:#EBECED;
	padding: 0.9em 0.625em; /* 16/16 10/16 */
	outline: none;
}
form input[type="text"]:hover, input[type="password"]:hover, textarea:hover,
form input[type="text"]:focus, input[type="password"]:focus, textarea:focus {
	/*border: 1px solid #bbbdbe;*/
}
	
form input[type="checkbox"], form input[type="radio"] { margin-right: 0.833em; /* 10/12 */ }

form input[type="submit"], form input[type="file"]{
	border: none;
	cursor: pointer;
	padding: 0.833em; /* 10/12 */

	background-position: right center;
	padding-right: 3em; /* 36/12 */
	background-repeat: no-repeat;
	font-weight: bold;
	text-transform: uppercase;
}

form#search-form input {
	border: none;
	/* The inner text overflows on the BG image, so we're setting a right padding to stop that */
	padding-right: 3em; /* 36/12 */
}
form#search-form input:focus {
	/* Same as .dark:hover */
	background-color: #5d6677;
	color: white;
}

form p em {
	margin-top: 0.833em; /* 10/12 */
	display: block;
}

form p.form-error, form p.form-error label { color: #cf4425; }

form p.form-error em {
	background: transparent url('../images/icons/message-boxes/error.png') no-repeat left center;
	padding-left: 2em; /* 24/12 */
}

form input.error-input { border: 1px solid #ff876f; }
	form input.error-input:hover { border: 1px solid #b03e27; }

/* Styling the HTML5 placeholders */
/* So far they don't work in: IE, Opera 10 and below, Firefox 3.6 and below */
::-webkit-input-placeholder { color: #858d9c; }
:-moz-placeholder { color: #858d9c; }





/* ---------- CONTENT BOXES ---------- */
.information-box, .confirmation-box, .error-box, .warning-box {
	padding: 0.833em 0.833em 0.833em 3em; /* 10/12 36/12 */
	margin-bottom: 0.833em; /* 20/12 */
}

.information-box {
	background: #e5f5f9 url('../images/icons/message-boxes/information.png') no-repeat 0.833em center;
	border: 1px solid #cae0e5;
	color: #5a9bab;
}

.confirmation-box {
	background: #e7fae6 url('../images/icons/message-boxes/confirmation.png') no-repeat 0.833em center;
	border: 1px solid #b7cbb6;
	color: #52964f;
}

.error-box {
	background: #fde8e4 url('../images/icons/message-boxes/error.png') no-repeat 0.833em center;
	border: 1px solid #e6bbb3;
	color: #cf4425;
}

.warning-box {
	background: #fdf7e4 url('../images/icons/message-boxes/warning.png') no-repeat 0.833em center;
	border: 1px solid #e5d9b2;
	color: #b28a0b;
}





/* ---------- MENU ---------- */
ul#nav {
	list-style-type: none;
}
ul#nav > li {
	float: left;
	margin-right: 0.312em; /* 5/16 */
	position: relative;
}
ul#nav li:first-child { margin-left: 0; }
ul#nav li:hover ul { left: 0; /* On hover, we make the submenu visible again */ }	
/* Persistent hover state, exactly the same style as the inner anchor on hover (.dark:hover) */
ul#nav li:hover a {
	background-color: #5d6677;
	color: white;
}
		
ul#nav li.v-sep {
	border-right: 1px solid #3f4551;
	margin-right: 0.625em; /* 10/16 */
	padding-right: 0.625em; /* 10/16 */
	font-size:0.95em;
}

ul#nav li ul {
	list-style-type: none;
	position: absolute;
	z-index: 999;
	margin-top: -2px;
	left: -9999px;
}
ul#nav li ul li a {
	color: white;
	padding: 0.833em 0 0.833em 3em;
	border-top: 1px solid #6a7282;
	background: #5d6677 url('../images/menu-indicator.png') no-repeat right center;
	display: block;
	width: 100%;
	white-space: nowrap;
}
ul#nav li ul li:last-child a {
	border-bottom-right-radius: 0.3125em; /* 5/16 */
	border-bottom-left-radius: 0.3125em; /* 5/16 */
	-moz-border-bottom-right-radius: 0.3125em; /* 5/16 */
	-moz-border-bottom-left-radius: 0.3125em; /* 5/16 */
	-webkit-border-bottom-right-radius: 0.3125em; /* 5/16 */
	-webkit-border-bottom-left-radius: 0.3125em; /* 5/16 */
}
ul#nav li ul li a:hover { background-color: #7a8497; }
		
/* ---------- TOP + HEADER ---------- */
#top-bar {
	background-color: #FFF;
	padding: 0.325em 0; /* 10/16 */
}
#top-bar-main{
	
}


div#header { padding: 1.25em 0; background-color:#000;/* 20/16 */ }

div#header-with-tabs { padding: 1.25em 0 0 0; /* 20/16 */ }

div#login-intro {
	background: transparent url('../images/login-icon.png') no-repeat left center;
	padding: 0.312em 0 0.312em 3.125em;
}
	div#login-intro h1 { text-transform: uppercase; margin: 0.312em 0 0 0; }
	div#login-intro h5 { color: #9498a1; }

a#company-branding img { height: 39px; }	
a#company-branding-small img { height: 30px; }	


/* ---------- TABS ---------- */
ul#tabs { list-style-type: none; }

ul#tabs li { float: left; width:100px;}

ul#tabs li a {
	border: 1px solid #eeefef;
	border-bottom: none;
	padding: 1.666em 0.833em; /* 20/12 10/12 */
	margin: 0 0.416em -1px 0;
	display: block;
	color: #9498a1;
	text-align:center;
}
	ul#tabs li a:hover { color: #2a2e36; }

ul#tabs li a.dashboard-tab {
	background: transparent url('../images/tab-dashboard.png') no-repeat 0.833em center /* 10/12 */;
	padding-left: 3em; /* 36/12 */	
}

ul#tabs li a.active-tab, ul#tabs li a.active-tab:hover {
	background-color: #f8f9fa;
	font-weight: bold;
	color: #2a2e36;
}

/* ---------- LISTS ---------- */
ol li, .regular-ul li { margin-left: 1.25em; /* 20/16 */ }

ol, .regular-ul, .custom-ul { margin-bottom: 1.25em; /* 20/16 */ }

.custom-ul { list-style-type: none; }

.custom-ul li {
	background: transparent url('../images/menu-dark-indicator.png') no-repeat left center;
	padding-left: 1.25em /* 10/12 */;
}



/* ---------- CONTENT ---------- */
div#content {
	background: #f8f9fa url('../images/artwork-pattern.png') repeat-x left bottom;
	border: 1px solid #eeefef;
	padding: 1.875em 0 9em 0; /* 30/16 */
}

form#login-form {
	width: 18.75em; /* 300/16 */
	margin: 0 auto;
}

div.side-menu {
	background: #3f4551;
	border: 1px solid #eeefef;
	width: 15%;
	margin-bottom: 1em; /* 16/16 */
}

div.side-menu h3 {
	text-transform: uppercase;
	font-weight: bold;
	margin:  1.25em; /* 15/12 */
	color: white;
}

div.side-menu ul { list-style-type: none; }

div.side-menu ul li a {
	padding: 0.833em 1.25em; /* 10/12 15/12 */
	border-top: 1px solid #f8f9fa;
	display: block;
	background: white url('../images/menu-dark-indicator.png') no-repeat right center;
}
div.side-menu ul li a:hover {
	background-color: #f8f9fa;
}

div.side-content { width: 83%; /* 100% - 15% for the side menu - 2% for the left margin */ }

div.content-module {
	/*background: white;
	border: 1px solid #eeefef;
	*/
	margin-bottom: 1em; /* 16/16 */	
	line-height:1.2em;
}
.content-module p{
	padding-bottom:1.25em;
}
div.content-module-heading {
	background: #3f4551;
	cursor: pointer;
}

div.content-module-heading h3 {
	text-transform: uppercase;
	color: white;
	font-weight: bold;
	margin: 1.25em; /* 15/12 */
}

div.content-module-heading span { 
	color: #969dac;
	text-transform: uppercase;
	margin: 1.5em; /* 15/10 */
}

div.content-module-main { padding: 1em; /* 16/16 */ }
.content-module-main h2 {
	text-transform: uppercase;
	font-weight: bold;
}
#my-profile h3{
	font-size:0.9em;
	text-transform:uppercase;
	font-weight: bold;
	margin-right:15px;
}
#my-profile #username{
	font-size:0.9em;
	text-transform:uppercase;
	margin-left:40px;
}
#my-profile #email{
	font-size:0.9em;
	text-transform:uppercase;
	margin-left:75px;
}
/*----------------------------- */
#cms{
	padding: 20px 0 40px 40px;
	font-size: 1.5em;
	text-transform:uppercase;
}
#head-title {
	background-image: url(../images/title-bar.png);
	background-repeat: no-repeat;
	background-position: -3px 28px;
	height: 50px;
	margin-bottom: 15px;
}
#head-title h1 {
	font-family: "CustomFont", Verdana, Tahoma;
	font-size: 1.2em;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #cfcfcf;
	padding-bottom: 0.34em;
	color:#47A0D8;
}
h6 #headline{
	font-family: "CustomFont", Verdana, Tahoma;
	font-size: 1.1em;
	color:#ADADAD;
}
.date {
	font-size: 0.75em;
	color: #333;
}
.detail-title{
	font-size:0.9em;
	color: #CFCFCF;
}
#content-detail p{
	color:#000;
	text-indent:25px;
}
#detail-bullet{
	margin-top: 10px;
	margin-left: 3.3em;
	text-decoration: none;
	list-style-type: circle;
}
#detail-bullet ul{
	text-indent:15px;
}
#detail-bullet li{
	list-style-type: disc;
	font-size:0.75em;
	
}
form#form-edit input[type="text"]{
	width:545px;	
}
form#form-advertisement input{
	width:250px;
}
#content-detail a{
	font-size:0.75em;
}
textarea {
	width:550px;
	height:200px;
}
.head-table {
	margin-bottom:10px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #999;
}
.head-table {
	margin-bottom:10px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #999;
}
#prefix_2 p{
	/*margin-left:35px;*/
	margin-top:15px;
	color:black;
}
.save-button{
	padding: 0.433em 1.9em;
	margin-top:20px;
	display: inline-block;
	text-decoration: none;
	background-repeat: no-repeat;
	color: white;
	font-size:0.9em;
}
.add-button{
	padding: 0.433em 1.9em;
	display: inline-block;
	text-decoration: none;
	background-repeat: no-repeat;
	color: white;
	margin-bottom:10px;
}

#image-detail ul{
	list-style:none;
}
#image-detail ul li{
	margin-bottom:15px;
}
.pic-post{
	padding-top:15px;
}
.small-btn{
	padding:0.4em;
}
.edit-btn{
	padding:2em;
}
#admin-ic{
	margin-top:10px;
}

/* ---------- FOOTER ---------- */
div#footer p{
	background-color:#000;
	text-align: center;
	padding: 15px 0; /* 30/16 */
}
#wrap-add-customer {
	margin-bottom: 15px;
}
