
/* ---------- TABLES ---------- */
table { width: 100%; /*margin-bottom: 1.25em; /* 20/16 */ }

table th {
	background-color: #5d6677;
	color: white;
	text-transform: uppercase;
	padding: 1.25em 0 1.25em 1.25em; /* 15/12 */
	border-left: 1px solid #747c8a;
	text-align:center;
}
#status{
	text-align:center;
}		
table tbody td {
	padding: 0.833em 0 0.833em 1.25em; /* 10/12 15/12 */
	border-left: 1px solid white;
	border-bottom: 1px solid #f8f9fa;
}
	
/* Alternate table row */
table tbody tr:nth-child(odd) { background-color: #fff; }

/* Push the first cell to the right so it doesn't stick to the table border */

table td:first-child, table th:first-child {
	text-align: center;
	/*
	padding: 0;
	border: none;
	border-bottom: 1px solid #f8f9fa;
	*/
}

table td:last-child, table th:last-child {
	/*width: 15em; /* 84/12 */
	text-align: center;
	padding: 0;
}
	
table td.table-footer {
	text-align: left;
	vertical-align: middle;
	padding-top: 1.25em /* 15/12 */;
	border: none;
}
	
a.table-actions-button {
	width: 1.25em;
	height: 1.25em;
	display: inline-block;
	margin-right:35px;
}

a.table-actions-button-del {
	width: 1.25em;
	height: 1.25em;
	display: inline-block;
	margin-right:35px;
}

